<template>
	<div>
		<h2>List User</h2>
		<ul class="list-group">
			<router-link tag="li" to="/user/1" class="list-group-item">User 01</router-link>
			<router-link tag="li" to="/user/2" class="list-group-item">User 02</router-link>
			<router-link tag="li" to="/user/3" class="list-group-item">User 03</router-link>
		</ul>
	</div>
</template>

<script>
export default {
	name: "Index",
};
</script>

<style scoped>
	ul li {
		cursor: pointer;
	}
</style>
