<template>
	<div>
		<h1 class="text-center">User Management</h1>
		<hr>
		<router-view />
	</div>
</template>

<script>

export default {
	name: "User",
	components: {
	},
	methods: {
		// backToHome() {
		// 	this.$router.push('/');
		// }
	}
};
</script>

<style scoped>
</style>
