<template>
	<div>
		<h1>UserEdit</h1>
		<p>ID User: {{ id }}</p>
		<p>$route.params {{ $route.params }}</p>
		<p>$route.query {{ $route.query }}</p>
		<hr>
		<button type="button" class="btn btn-primary" @click="status = true">Access Leave</button> Status: {{ status }}
		<hr>
		<h3 id="section01">Section 01</h3>
		<div style="height: 300px;"></div>
		<h3 id="section02">Section 02</h3>
		<div style="height: 300px;"></div>
		<h3 id="section03">Section 03</h3>
		<div style="height: 1600px;"></div>
	</div>
</template>

<script>
export default {
	name: "UserEdit",
	data() {
		return {
			id: this.$route.params.id,
			status: false
		}
	},
	watch: {
		'$route'(to, from) {
			this.id = to.params.id
		}
	},
	created() {
		console.log(this.$route);
	},
	beforeRouteLeave(to, from, next) {
		if (this.status) {
			next();
		} else {
			if (confirm('Are you sure? Any data will not save!')) {
				next();
			} else {
				next(false);
			}
		}
	}
};
</script>

<style scoped>
</style>
