<template>
	<div>
		<h3>UserDetails</h3>
		<p>ID User: {{ id }}</p>
		<!-- <router-link tag="button" :to="'/user/' + id + '/edit'" class="btn btn-primary">Edit User</router-link> -->
		<router-link tag="button" :to="link" class="btn btn-primary">Edit User</router-link>
		<hr>
		<p class="text-center">
			<!-- <button type="button" class="btn btn-default" @click="$router.push({path: '/user'})">Back To List</button> -->
			<button type="button" class="btn btn-default" @click="$router.push('/user')">Back To List</button>
		</p>
	</div>
</template>

<script>
export default {
	name: "UserDetails",
	data() {
		return {
			id: this.$route.params.id,
			link: {
				name: 'useredit',
				params: {
					id: this.$route.params.id
				},
				query: {
					locate: 'vi',
					browser: 'chrome'
				},
				// hash: '#section02'
			}
		}
	},
	watch: {
		'$route'(to, from) {
			this.id = to.params.id
		}
	},
	beforeRouteEnter(to, from, next) {
		if (true) {
			next();
		} else {
			next(false);
		}
	}
};
</script>

<style scoped>
</style>
