<template>
  <div class="main-detail">
    <a-card class="mb-4">
      <template slot="title">
        <font-awesome-icon icon="pencil-alt" />
        {{ $t('user.user') }}
      </template>

      User detail
    </a-card>
  </div>
</template>

<script>
export default {
  layout: 'admin',

  data() {
    return {
      id: +this.$route.params.id || 0
    }
  }
}
</script>
