<template>
  <div class="main-detail">
    <a-card class="mb-4">
      <template slot="title">
        <font-awesome-icon icon="plus-circle" />
        {{ $t('user.user') }}
      </template>

      Create user
    </a-card>
  </div>
</template>
<script>
export default {
  layout: 'admin'
}
</script>
