<template>
  <a-layout-footer class="main-footer">
    <div class="container-fluid">
      <a-row type="flex" :gutter="30">
        <a-col :span="24" :sm="12" class="col-left">
          © 2020
          <a href="https://bro.com/" target="_blank">Adminstrator</a>
        </a-col>

        <a-col :span="24" :sm="12" class="col-right">
          <span>Powered by</span>
          <a href="https://bro.com/" target="_blank">Bro</a>
        </a-col>
      </a-row>
    </div>
  </a-layout-footer>
</template>
