/*
 * Copyright 2020 Digi Dinos JSC. All rights reserved.
 * Email: tech@digidinos.com.
 */

/**
 * SCSS common styles
 */

// If you want to override variables do it here
@import "variables";

// Mixins
@import "mixins";

/* -----------------------------------------------------------
  common
  ----------------------------------------------------------- */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
img {
  max-width: 100%;
}
a,
button,
.btn {
  transition: all 0.4s ease;
}
.over {
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}
.bt-0 {
  border-top: 0 !important;
}
.bt-1 {
  border-top: 1px solid #e8e8e8 !important;
}
.w-100 {
  width: 100% !important;
}
.width-1x {
  width: 14px !important;
}
.w-min-100 {
  min-width: 100px !important;
}
.w-min-120 {
  min-width: 120px !important;
}
.min-vh-100 {
  min-height: 100vh!important;
}
.mw-5x {
  width: 100%;
  max-width: 500px;
  margin: auto;
  @include mq(max_xs) {
    max-width: 100%;
  }
}
.mw-9x {
  width: 100%;
  max-width: 900px;
  margin: auto;
  @include mq(max_lg) {
    max-width: 100%;
  }
}
.mw-12x {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  @include mq(max_lg) {
    max-width: 100%;
  }
}
.white-space-nowrap {
  white-space: nowrap !important;
}
.max-ln-1 {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.max-ln-2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.max-ln-3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.text-center {
  text-align: center !important;
}
.text-left {
  text-align: left !important;
}
.text-right {
  text-align: right !important;
}
.text-sm-right {
  text-align: left !important;
  @include mq(sm) {
    text-align: right !important;
  }
}
.text-md-right {
  text-align: left !important;
  @include mq(md) {
    text-align: right !important;
  }
}
.text-primary {
  color: $primary-color !important;
}
.text-warning {
  color: $warning-color !important;
}
.text-danger {
  color: $error-color !important;
}
.position-relative {
  position: relative !important;
}

/* -----------------------------------------------------------
  loading
  ----------------------------------------------------------- */
.loading-parent--relative {
  position: relative;
}

.loading-parent--hidden {
  overflow: hidden;
}

/* -----------------------------------------------------------
  Layout
----------------------------------------------------------- */
.default-layout {
  min-height: 100vh;
}
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    padding-right: 30px;
    padding-left: 30px;
  }
}
.ant-layout-sider-zero-width-trigger {
  display: none;
}
.ant-layout-sider {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background: #002140;
    text-align: center;
    padding: 6px 10px;
    a {
      text-decoration: none;
    }
    img {
      max-height: 45px;
    }
  }
  &.ant-layout-sider-collapsed {
    .ant-menu-item-group-title {
      display: none;
    }
    .ant-menu {
      .ant-menu-item {
        > a {
          display: block;
          padding-left: 32px !important;
          padding-right: 32px !important;
        }
      }
      .ant-menu-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
  .ant-menu {
    .ant-menu-item-selected {
      background: transparent !important;
    }
    .ant-menu-item {
      padding-left: 0 !important;
      padding-right: 0 !important;
      > a {
        display: block;
        padding-left: 24px;
        padding-right: 16px;
        &.active-link,
        &:hover {
          background: $primary-color;
        }
        &[href="/"]:not(:hover) {
          background: $primary-color;
          &:not(.on-home) {
            background: transparent;
          }
        }
      }
    }
    .ant-menu-submenu {
      .ant-menu {
        .ant-menu-item {
          > a {
            padding-left: 48px;
          }
        }
      }
    }
  }
}

/* -----------------------------------------------------------
  Header
----------------------------------------------------------- */
.ant-layout-header {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  background: #fff;
  padding: 0;
  .box-left {
    display: flex;
    align-items: center;
  }
  .btn-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
    color: #4c4c4c;
    transition: all 0.4s ease;
    &:hover {
      color: $primary-color;
    }
  }
  .box-right {
    display: flex;
    align-items: center;
    > * {
      margin-left: 10px;
    }
    .ant-dropdown-link {
      display: inline-block;
      vertical-align: middle;
      padding: 5px;
      color: #4c4c4c;
      &:hover {
        color: $primary-color;
      }
    }
    .ic-large {
      font-size: 25px;
    }
  }
}
.ant-dropdown.dropdown-language {
  min-width: 50px;
  .ant-dropdown-menu {
    border: 1px solid #d8dbe0;
  }
  .ant-dropdown-menu-item {
    text-align: center;
  }
}
.ant-dropdown.dropdown-account {
  min-width: 160px;
  .ant-dropdown-menu {
    border: 1px solid #d8dbe0;
    padding-top: 0;
  }
  .txt-name {
    background: #ebedef;
    text-align: center;
    cursor: default;
    pointer-events: none;
  }
}

/* -----------------------------------------------------------
  Footer
----------------------------------------------------------- */
.main-footer {
  border-top: 1px solid #d8dbe0;
  padding: 13px 0;
  @include mq(max_xs) {
    text-align: center;
  }
  .col-left {
  }
  .col-right {
    text-align: right;
    @include mq(max_xs) {
      text-align: center;
    }
  }
}

/* -----------------------------------------------------------
  Main control
----------------------------------------------------------- */
.main-control {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  @include mq(max_sm) {
    flex-direction: column;
  }
  .app-sort {
    display: flex;
    align-items: center;
    margin: 0.5rem 0;
    @include mq(max_sm) {
      margin: 0;
    }
    .txt-sort {
      margin-right: 0.5rem;
    }
    .sort-select {
      min-width: 180px;
    }
  }
  .app-pagination {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    align-items: center;
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    .page-total {
      white-space: nowrap;
    }
    .page-size {
      width: auto;
      margin-left: 0.5rem;
    }
    .nav-pagination {
      margin-left: 0.5rem;
    }
  }
  .app-sort,
  .app-pagination {
    @include mq(max_sm) {
      margin-right: 0;
      margin-left: auto;
    }
    > * {
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
    }
  }
}

/* -----------------------------------------------------------
  .main-table
----------------------------------------------------------- */
.main-table {
  table {
    border-top: 1px solid #e8e8e8;
  }
}

/* -----------------------------------------------------------
  Spacing
----------------------------------------------------------- */
@each $prop, $abbrev in (margin: m, padding: p) {
  @each $size, $length in $spacers {
    .#{$abbrev}-#{$size} { #{$prop}: $length !important; }
    .#{$abbrev}t-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-top: $length !important;
    }
    .#{$abbrev}r-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-right: $length !important;
    }
    .#{$abbrev}b-#{$size},
    .#{$abbrev}y-#{$size} {
      #{$prop}-bottom: $length !important;
    }
    .#{$abbrev}l-#{$size},
    .#{$abbrev}x-#{$size} {
      #{$prop}-left: $length !important;
    }
  }
}

/* -----------------------------------------------------------
  Form
----------------------------------------------------------- */
.ant-form-item-label {
  white-space: normal;
  line-height: 1.5;
  padding-top: 9px;
  padding-right: 5px;
  @include mq(max_xs) {
    padding: 0 0 3px 0;
  }
  > label {
    &:after {
      margin-right: 0;
    }
  }
}
.ant-checkbox-group {
  &.no-inline {
    .ant-checkbox-group-item {
      display: block;
      margin: 0 0 5px 0;
    }
  }
}

/* -----------------------------------------------------------
  box-change-view
----------------------------------------------------------- */
.box-change-view {
  position: absolute;
  right: 0;
  top: -44px;
  a {
    font-size: 24px;
    color: #4c4c4c;
    text-decoration: none;
    margin-left: 10px;
    &.active-link,
    &:hover {
      color: $primary-color;
    }
    &[href="/categories"].on-categories-list:not(:hover),
    &[href="/article-category"].on-article-category-list:not(:hover),
    &[href="/menus"].on-menus-list:not(:hover) {
      color: #4c4c4c;
    }
  }
}

/* -----------------------------------------------------------
  category-tree
----------------------------------------------------------- */
.category-tree {
  .tree-content {
    cursor: move;
  }
  /deep/ .node-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    position: relative;
    width: 100%;
    padding-right: 70px;
   .tree-checkbox {
      margin-right: 15px;
      width: 20px !important;
      height: 20px !important;
    }
  }
  .tree-node {
    &.has-child {
      > .tree-content {
        .tree-checkbox {
          border-color: $primary-color;
        }
      }
    }
  }
  .tree-arrow {
    &.has-child {
      &:after {
        width: 11px;
        height: 11px;
      }
    }
  }
  .btns-action {
    display: block;
    position: absolute;
    top: 50%;
    right: 0;
    transform: translate(0, -50%);
    width: 100px;
    white-space: nowrap;
    text-align: left;
    li {
      display: inline-block;
      vertical-align: middle;
    }
  }
}
