<template>
	<div id="app">
		<!-- <router-view name="header" /> -->
		<Header />
		<div class="container">
			<transition name="slide">
				<router-view />
			</transition>
		</div>
	</div>
</template>

<script>
import Header from "./components/layouts/Header.vue";

export default {
	name: "app",
	components: {
		Header
	}
};
</script>

<style>
	#app .slide-enter-active {
		animation: slide-in 0.5s ease 0s 1 normal;
	}
	#app .slide-leave-active {
		animation: slide-out 0.5s ease 0s 1 normal;
	}
	@keyframes slide-in {
		from {
			opacity: 0;
			transform: translate(-20px; 0);
		}
		to {
			opacity: 1;
			transform: translate(0, 0);
		}
	}
	@keyframes slide-out {
		from {
			opacity: 1;
			transform: translate(0, 0);
		}
		to {
			opacity: 0;
			transform: translate(-20px, 0);
		}
	}
</style>
