<template>
	<header>
		<nav class="navbar navbar-default">
			<div class="container">
				<ul class="nav navbar-nav">
					<router-link tag="li" to="/" active-class="active" exact><a>Home</a></router-link>
					<router-link tag="li" to="/user" active-class="active"><a>User</a></router-link>
				</ul>
			</div>
		</nav>
	</header>
</template>

<script>
export default {
	name: "Header",
};
</script>

<style scoped>
</style>
