
.container-fluid {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
  @include mq(md) {
    padding-right: 30px;
    padding-left: 30px;
  }
}
