<template>
  <div>
    <p>{{ category.label }}</p>
    <select @change="setSelected">
      <option
        v-for="(item, key) in category.children"
        :key="key"
        :value="item.label"
      >
        {{ item.label }}
      </option>
    </select>
    <item v-if="selectedCategory" :category="selectedCategory" />
  </div>
</template>

<script>
export default {
  name: 'item',
  props: {
    category: Object
  },
  data() {
    return {
      selectedId: 2
    }
  },
  computed: {
    selectedCategory() {
      const selectedCategory = this.category.children.find(
        item => item.label === this.selectedId
      )
      return selectedCategory || this.category.children[0]
    }
  },
  methods: {
    setSelected(e) {
      this.selectedId = e.target.value
    }
  }
}
</script>
