<template>
  <item :category="category"></item>
</template>

<script>
import Item from '~/components/organisms/listing/Item'

export default {
  components: { Item },

  data() {
    return {
      category: {
        id: 1,
        label: 'Label 1',
        level: 1,
        children: [
          {
            id: 2,
            label: 'Label 2',
            level: 2,
            children: [
              {
                id: 4,
                label: 'Label 4',
                level: 4,
                children: []
              }
            ]
          },
          {
            id: 3,
            label: 'Label 3',
            level: 2,
            children: []
          }
        ]
      }
    }
  }
}
</script>
