<template>
	<div id="app">
		<header>
			<nav class="navbar navbar-default">
				<div class="container">
					<ul class="nav navbar-nav">
						<router-link tag="li" to="/" active-class="active" exact><a>Home</a></router-link>
						<router-link tag="li" to="/about" active-class="active"><a>About</a></router-link>
					</ul>
				</div>
			</nav>
		</header>

		<router-view />
	</div>
</template>

<style lang="scss">
	a,
	button,
	.btn {
		-webkit-transition: all 0.4s ease;
		-moz-transition: all 0.4s ease;
		-ms-transition: all 0.4s ease;
		-o-transition: all 0.4s ease;
		transition: all 0.4s ease;
	}
	header {
		.navbar {
			background: #337ab7;
			border-radius: 0;
			border: 0;
			ul.nav {
				> li {
					> a {
						font-weight: bold;
						font-size: 16px;
						color: #fff;
					}
				}
				> li.active > a,
				> li > a:hover {
					color: #fff !important;
					background: #2b679a !important;
				}
			}
		}
	}
</style>
