@import "../variables";
@import "../mixins";

.box-overview {
  /deep/ {
    .list {
      .item {
        &.item-green {
          .box-item {
            background: #00b900;
          }
        }
        &.item-blue {
          .box-item {
            background: #3399ff;
          }
        }
        &.item-yellow {
          .box-item {
            background: #f9b115;
          }
        }
        &.item-red {
          .box-item {
            background: #e55353;
          }
        }
      }
      .box-item {
        min-height: 160px;
        height: 100%;
        color: #fff;
        background: $primary-color;
        border-radius: 0.25rem;
        padding: 1.25rem;
      }
      .box-detail {
        .txt-number {
          font-weight: bold;
          font-size: 20px;
          line-height: 1;
          margin-bottom: 5px;
        }
        .txt-title {
          font-size: 16px;
        }
        .ic-top {
          font-size: 18px;
        }
      }
    }
  }
}
