<template>
	<div>
		<h2>Counter</h2>
		<!-- <button type="button" class="btn btn-primary" @click="decrement">Decrement &darr;</button>
		&nbsp;
		<button type="button" class="btn btn-primary" @click="increment">Increment &uarr;</button>
		&nbsp;
		<button type="button" class="btn btn-primary" @click="incrementOpt">Increment Option (Mutations) &uarr;</button>
		&nbsp;
		<button type="button" class="btn btn-primary" @click="decrement2">Decrement2 (Mutations) &darr;</button> -->
		<!-- &nbsp; -->
		<button type="button" class="btn btn-primary" @click="increment">Increment &uarr;</button>
		<hr>
		<!-- <input type="text" class="form-control" :value="value" @input="updateValue"> -->
		<input type="text" class="form-control" v-model="value">
		<p>{{ value }}</p>
	</div>
</template>

<script>
import { mapActions } from 'vuex';

export default {
	name: "Counter",
	computed: {
		value: {
			get() {
				return this.$store.getters.value;
			},
			set(value) {
				return this.$store.dispatch('updateValue', value);
			}
		}
	},
	methods: {
		...mapActions([
			'increment'
		]),
		// increment() {
		// 	this.$store.state.result++;
		// },
		// decrement() {
		// 	this.$store.state.result--;
		// },
		// incrementOpt() {
		// 	this.$store.commit('incrementOption', 30);
		// }

		// updateValue(event) {
		// 	this.$store.dispatch('updateValue', event.target.value);
		// }
	}
};
</script>

<style scoped>
</style>
