<template>
	<div>
		<h2>Other</h2>
		<p>This is result: {{ tenResult }}</p>
		<p>This is name result: {{ nameResult }}</p>
	</div>
</template>

<script>
import { mapGetters } from 'vuex';

export default {
	name: "Other",
	computed: {
		// result() {
		// 	return this.$store.getters.tenResult;
		// },
		// nameResult() {
		// 	return this.$store.getters.nameResult;
		// },
		...mapGetters([
			'tenResult',
			'nameResult'
		])
	}
};
</script>

<style scoped>
</style>
