<template>
	<div>
		<h2>Result</h2>
		<p>This is result: {{ result }}</p>
	</div>
</template>

<script>
export default {
	name: "Result",
	computed: {
		result() {
			return this.$store.state.result;
		}
	}
};
</script>

<style scoped>
</style>
