<template>
  <div id="app">
    <!-- <LoopString /> -->

    <hr />

    <!-- <VueSlickDemo /> -->
    <!-- vue-slick-carousel gsshop -->
    <hr />

    <!-- <VueSlickStaskjsDemo /> -->
    <!-- vue-slick -->

    <hr />

    <!-- <HooperDemo /> -->

    <input type="text" id="debounce" />
  </div>
</template>

<style lang="scss">
@import "./assets/scss/_variables.scss";
@import "./assets/scss/_mixins.scss";
@import "./assets/scss/_common.scss";
@import "./assets/scss/_hooper-slider-common.scss";
@import "./assets/scss/_popular-item-2.scss";

.container {
  max-width: 95%;
  margin: auto;
}
</style>

<script>
import LoopString from "./components/LoopString.vue";
// import VueSlickDemo from './components/VueSlickDemo.vue'
// import VueSlickStaskjsDemo from './components/VueSlickStaskjsDemo.vue'
import HooperDemo from "./components/HooperDemo.vue";

export default {
  name: "app",

  components: {
    LoopString,
    // VueSlickDemo,
    // VueSlickStaskjsDemo,
    HooperDemo,
  },

  data() {
    return {};
  },

  mounted() {
    // const makeARec = (n, arr) => {
    //   if (n === 0) {
    //     return arr
    //   }

    //   if (n % 2 === 0) {
    //     arr.push(n)
    //   }

    //   n -= 1

    //   return makeARec(n, arr)
    // };

    // console.log(11, makeARec(10, []))

    // const factorial = (n, max, arr) => {
    //   if (max < n) {
    //     return arr
    //   }

    //   // if (n % 2 === 0) {
    //   //   arr.push(n)
    //   // }

    //   // n = (n-1) + (n-2)
    //   // n += n-1

    //   arr.push(n)
    //   max -= 1

    //   return factorial(n, max, [])
    // };

    // console.log(1111111, factorial(3, 9, []))

    // // 1*2*3*4*5

    // const prt = (str) => { console.log(str) }
    // const printString = (cb) => {
    //   cb();
    // };

    // printString(() => {
    //   console.log('A');
    //   printString(() => {
    //     console.log('B');
    //     printString(() => {
    //       console.log('C');
    //     });
    //   });
    // });

    // const printString = (str) => {
    //   return new Promise((resolve, reject) => {
    //     if (str) {
    //       resolve(str);
    //     } else {
    //       reject('No string');
    //     }
    //   });
    // };

    // (async () => {
    //   try {
    //     const data1 = await printString('A');
    //     console.log(data1);

    //     const data2 = await printString('B');
    //     console.log(data2);

    //     const data3 = await printString('C');
    //     console.log(data3);

    //   } catch(err) {
    //     console.log(err);
    //   }
    // })();

    // (async () => {
    //   try {
    //     const data = await getHomeData();
    //   } catch (error) {
    //     console.log(JSON.stringify(error));
    //   }
    // })();

    // printString()
    //   .then(res => {
    //     console.log(res);
    //     printString('B').then(res => {
    //       console.log(res);
    //       printString('C').then(res => {
    //         console.log(res);
    //       });
    //     });
    //   })
    //   .catch(err => {
    //     console.error(err);
    //   });

    // printString('A').then(res => {
    //   console.log(res);
    //   return printString('B');
    // }).then(res => {
    //   console.log(res);
    //   return printString('C');
    // }).then(res => {
    //   console.log(res);
    // });

    // const arr = ["A", "B", "C"]
    // const printString = (cb) => {
    //   cb();
    // };

    // (() => {
    //   let i = 0;

    //   printString(() => {
    //     console.log(arr[i++]);
    //     printString(() => {
    //       console.log(arr[i++]);
    //       printString(() => {
    //         console.log(arr[i++]);
    //       });
    //     });
    //   });
    // })();

    // const arr = ['A', 'B', 'C'];

    // const printString = (str) => {
    //   return new Promise((resolve, reject) => {
    //     if (str) {
    //       resolve(str);
    //     } else {
    //       reject('No string');
    //     }
    //   });
    // };

    // const printAll = (str) => {
    //   let i = 0;

    //   printString(arr[i++]).then(res => {
    //     console.log(res);
    //     printString(arr[i++]).then(res => {
    //       console.log(res);
    //       printString(arr[i++]).then(res => {
    //         console.log(res);
    //       });
    //     });
    //   })
    // };

    // printAll();

    // let count = 0;
    // hello = async items => {
    //     items.forEach( async () => {
    //       // await someAPICall();
    //       count++;
    //     })
    //     console.log("count = " + count);
    // }
    // someAPICall = () => {
    //   return new Promise((resolve,reject) => {
    //     setTimeout(() => {
    //     resolve("done")
    //     }, 100);
    //   })
    // }
    // hello(['1','2','3','4']);

    // window.onload = () => {
    //   function ajax(data) {
    //     console.log(new Date().toLocaleTimeString() + " - " + data);
    //   }

    //   function throttle(fn, delay) {
    //     return (args) => {
    //       if (fn.id) return;

    //       fn.id = setTimeout(() => {
    //         fn.call(this, args);
    //         clearTimeout(fn.id);
    //         fn.id = null;
    //       }, delay);
    //     };
    //   }

    //   const throttleAjax = throttle(ajax, 1000);

    //   document.querySelector("#debounce").addEventListener("keyup", (e) => {
    //     throttleAjax(e.target.value);
    //   });
    // };

    // let arr = [1, 1, 'a', 'a', 'b', '1', 'b'];

    // arr.reduce((accumulator, current) => {
    //   // if (!accumulator.includes(current)) {
    //   //   // return [current].concat(accumulator);
    //   //   accumulator.push(current);
    //   // }

    //   if (!accumulator.some(item => JSON.stringify(item) === JSON.stringify(current))) {
    //     accumulator.push(current);
    //     // return [...accumulator, current]
    //   }

    //   return accumulator;

    //   // return accumulator.includes(current) ? accumulator : [...accumulator, current];
    // }, []);

    // arr = arr.reduce((accumulator, current) => {
    //   if (!accumulator.includes(current)) {
    //     accumulator.push(current);
    //   }

    //   return accumulator;
    // }, [])

    // // console.log(arr);
    // const arr = ['3', '3', 'a', '1', 'b', '1', 'c', 'a', 'b'];
    // const result = [];

    // arr.forEach((item, index) => {
    //   // console.log(index, item, arr.indexOf(item));
    //   if (!result.includes(item)) {
    //     result.push(item);
    //   }
    // });

    // console.log('result', result)

    // function fibonacci(num) {
    //   let a = 1,
    //       b = 0,
    //       temp;

    //   while (num >= 0) {
    //     temp = a; // 1, 1, 2
    //     a = a + b; // 1+0, 1+1, 2+1
    //     b = temp; // 1, 1, 2
    //     num--; // 4, 3, 2
    //   }

    //   return b;
    // }

    // console.log(fibonacci(5));

    document.addEventListener('visibilitychange', function() {
      document.title = document.visibilityState;
      console.log(document.visibilityState);
    });
  },
};
</script>

<style lang="scss">
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
}
#app {
  padding: 0 0 1000px;
}
</style>
