<template>
	<div id="app">
		<div class="container">
			<Header :itemCount="items.length ? items.length : 0" :itemMax="maxItem" />
			<NewItem :items="items" @itemAdded="addItem"></NewItem>
			<hr>
			<ItemsLayout :items="items" @itemRemoved="removeItem" />
			<hr>
			<div class="row message">
				<div class="col-xs-12">
					<div class="alert alert-info text-center">Click on a Item to delete it!</div>
				</div>
			</div>

			<hr>
			<hr>
			<hr>

			<Test />
		</div>
	</div>
</template>

<script>
import Header from './components/Header.vue';
import ItemsLayout from './components/ItemsLayout.vue';
import NewItem from './components/NewItem.vue';
import Test from './components/Test.vue';

export default {
	name: 'app',
	components: {
		Header,
		ItemsLayout,
		NewItem,
		Test
	},
	data() {
		return {
			items: [],
			maxItem: 10
		}
	},
	methods: {
		addItem(item) {
			if (this.items.length >= this.maxItem) {
				return alert('Please remove an item first!');
			} else {
				console.log(item);
				this.items.push(item);
			}
		},
		removeItem(index) {
			console.log(index);
			this.items.splice(index, 1);
		}
	}
}
</script>

<style>
#app {
	margin: 30px auto;
}
</style>
