<template>
  <a-layout class="l-default">
    <Header />

    <a-layout-content class="pt-4">
      <transition name="fade">
        <Nuxt />
      </transition>
    </a-layout-content>

    <Footer />
  </a-layout>
</template>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>

<script>
import Footer from '~/components/Footer'
import Header from '~/components/Header'

export default {
  components: {
    Footer,
    Header
  },

  mixins: [],

  // middleware: ['auth'],

  data() {
    return {}
  },

  computed: {},

  watch: {},

  mounted() {},

  methods: {}
}
</script>
