<template>
  <div class="container">
    <div class="con-popular-item-2">
      <h3 class="txt-title-top">Popular Item</h3>

      <div class="box-slider hooper-slider-common">
        <hooper ref="refPopularSlider" :settings="popularSliderSettings">
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-hot-item"><span>Hot Item</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-best-seller"><span>Best Seller</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-hot-item"><span>Hot Item</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-best-seller"><span>Best Seller</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-hot-item"><span>Hot Item</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-best-seller"><span>Best Seller</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-hot-item"><span>Hot Item</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-best-seller"><span>Best Seller</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-hot-item"><span>Hot Item</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-best-seller"><span>Best Seller</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-hot-item"><span>Hot Item</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-best-seller"><span>Best Seller</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-hot-item"><span>Hot Item</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-best-seller"><span>Best Seller</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>
          <slide class="slide-item">
            <div class="inner-item" href="wheels-detail.html">
              <div class="label-hot-item"><span>Hot Item</span></div>
              <div class="box-thumb">
                <a href="wheels-detail.html">
                  <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="demo_wheel_01.jpg">
                  <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
                </a>
              </div>
              <div class="box-detail">
                <div class="price">$147.80</div>
                <div class="ratings">
                  <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
                  <div class="review-count">(4 reviews)</div>
                </div>
              </div>
            </div>
          </slide>

          <!-- <hooper-navigation slot="hooper-addons"></hooper-navigation> -->
          <!-- <hooper-pagination slot="hooper-addons"></hooper-pagination> -->
        </hooper>

        <div class="hooper-navigation">
          <button type="button" class="hooper-prev" @click="$refs.refPopularSlider.slidePrev()"></button>
          <button type="button" class="hooper-next" @click="$refs.refPopularSlider.slideNext()"></button>
        </div>
      </div>
    </div>
  </div>
  <!-- /.con-popular-item-->
</template>

<script>
import 'hooper/dist/hooper.css'
import {
  Hooper,
  Slide
  // Navigation as HooperNavigation,
  // // Pagination as HooperPagination
} from 'hooper'

export default {
  components: {
    Hooper,
    Slide
    // HooperNavigation,
    // HooperPagination
  },

  data() {
    return {
      popularSliderSettings: {
        itemsToShow: 2,
        itemsToSlide: 2,
        autoPlay: false,
        playSpeed: 6000,
        transition: 600,
        infiniteScroll: true,
        wheelControl: false,
        breakpoints: {
          1440: {
            itemsToShow: 6,
            itemsToSlide: 6
          },
          992: {
            itemsToShow: 4,
            itemsToSlide: 4
          },
          576: {
            itemsToShow: 3,
            itemsToSlide: 3
          }
        }
      }
    }
  }
}
</script>
