<template>
  <div class="loop-string">
    <div class="box">
      <p>
        <input type="text" placeholder="StartA" class="start" style="margin-left: 36.6%" v-model="startA">
      </p>

      <p>
        <input type="text" placeholder="String A1" class="string-a" v-model="stringA1">
        -
        <input type="text" placeholder="String A2" class="string-a" v-model="stringA2">
        -
        <input type="text" placeholder="CountA" class="count" v-model="countA">
        -
        <button @click="generateStringA()">Generate String</button>
      </p>
    </div>

    <div class="box">
      <p>
        <input type="text" placeholder="StartB1" class="start" style="margin-left: 23.6%" v-model="startB1">
        <input type="text" placeholder="StartB2" class="start" style="margin-left: 22.3%" v-model="startB2">
      </p>

      <p>
        <input type="text" placeholder="String B1" class="string-b" v-model="stringB1">
        -
        <input type="text" placeholder="String B2" class="string-b" v-model="stringB2">
        -
        <input type="text" placeholder="String B3" class="string-b" v-model="stringB3">
        -
        <input type="text" placeholder="CountB" class="count" v-model="countB">
        -
        <button @click="generateStringB()">Generate String</button>
      </p>
    </div>

    <div class="box">
      <p>
        <input type="text" placeholder="StartC1" class="start" style="margin-left: 12.6%" v-model="startC1">
        <input type="text" placeholder="StartC2" class="start" style="margin-left: 12.3%" v-model="startC2">
        <input type="text" placeholder="StartC3" class="start" style="margin-left: 12.3%" v-model="startC3">
      </p>

      <p>
        <input type="text" placeholder="String C1" class="string-c" v-model="stringC1">
        -
        <input type="text" placeholder="String C2" class="string-c" v-model="stringC2">
        -
        <input type="text" placeholder="String C3" class="string-c" v-model="stringC3">
        -
        <input type="text" placeholder="String C4" class="string-c" v-model="stringC4">
        -
        <input type="text" placeholder="CountC" class="count" v-model="countC">
        -
        <button @click="generateStringC()">Generate String</button>
      </p>
    </div>

    <ul class="data">
      <li v-for="(item, index) in data" :key="index">
        {{ item }}
      </li>
    </ul>
  </div>
</template>

<script>

export default {
  data() {
    return {
      data: [],

      // Data form A
      startA: '',
      countA: '',
      stringA1: '',
      stringA2: '',

      // Data form B
      countB: '',
      startB1: '',
      startB2: '',
      stringB1: '',
      stringB2: '',
      stringB3: '',

      // Data form C
      countC: '',
      startC1: '',
      startC2: '',
      startC3: '',
      stringC1: '',
      stringC2: '',
      stringC4: '',
      stringC3: ''
    }
  },

  methods: {
    generateStringA() {
      this.data = []
      let number = this.startA
      for (let i = this.startA; i <= this.countA; i++) {
        this.data.push(
          String(this.stringA1) +
          String(number) +
          String(this.stringA2)
        )
        if (this.startA !== '') {
          number++
        }
      }
    },

    generateStringB() {
      this.data = []
      let number1 = this.startB1
      let number2 = this.startB2
      for (let i = 1; i <= this.countB; i++) {
        this.data.push(
          String(this.stringB1) +
          String(number1) +
          String(this.stringB2) +
          String(number2) +
          String(this.stringB3)
        )
        this.startB1 !== '' ? number1++ : ''
        this.startB2 !== '' ? number2++ : ''
      }
    },

    generateStringC() {
      this.data = []
      let number1 = this.startC1
      let number2 = this.startC2
      let number3 = this.startC3
      for (let i = 1; i <= this.countC; i++) {
        this.data.push(
          String(this.stringC1) +
          String(number1) +
          String(this.stringC2) +
          String(number2) +
          String(this.stringC3) +
          String(number3) +
          String(this.stringC4)
        )
        this.startC1 !== '' ? number1++ : ''
        this.startC2 !== '' ? number2++ : ''
        this.startC2 !== '' ? number3++ : ''
      }
    }
  }
}
</script>

<style scoped lang="scss">
.loop-string {
  padding: 30px 0 50px;
  input[type="text"] {
    height: 30px;
  }
  button {
    height: 30px;
    cursor: pointer;
  }
  p {
  margin: 0 0 5px;
  }
  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  .box {
    margin-bottom: 30px;
  }
  .string-a {
    width: 38%;
  }
  .string-b {
    width: 25%;
  }
  .string-c {
    width: 18.5%;
  }
  .start {
    width: 50px;
  }
  .count {
    width: 50px;
  }
}
</style>
