<template>
  <div class="container">
    <div class="con-popular-item-2">
      <h3 class="txt-title-top">Popular Item</h3>

      <VueSlickCarousel v-bind="popularSliderSettings" class="box-slider slider-common">
        <a class="inner-item" href="wheels-detail.html">
          <div class="label-best-seller"><span>Best Seller</span></div>
          <div class="box-thumb">
            <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="">
            <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
          </div>
          <div class="box-detail">
            <div class="price">$147.80</div>
            <div class="ratings">
              <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
              <div class="review-count">(4 reviews)</div>
            </div>
          </div>
        </a>

        <a class="inner-item" href="wheels-detail.html">
          <div class="label-hot-item"><span>Hot Item</span></div>
          <div class="box-thumb">
            <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="">
            <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
          </div>
          <div class="box-detail">
            <div class="price">$147.80</div>
            <div class="ratings">
              <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
              <div class="review-count">(4 reviews)</div>
            </div>
          </div>
        </a>

        <a class="inner-item" href="wheels-detail.html">
          <div class="label-hot-item"><span>Hot Item</span></div>
          <div class="box-thumb">
            <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="">
            <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
          </div>
          <div class="box-detail">
            <div class="price">$147.80</div>
            <div class="ratings">
              <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
              <div class="review-count">(4 reviews)</div>
            </div>
          </div>
        </a>

        <a class="inner-item" href="wheels-detail.html">
          <div class="label-hot-item"><span>Hot Item</span></div>
          <div class="box-thumb">
            <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="">
            <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
          </div>
          <div class="box-detail">
            <div class="price">$147.80</div>
            <div class="ratings">
              <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
              <div class="review-count">(4 reviews)</div>
            </div>
          </div>
        </a>

        <a class="inner-item" href="wheels-detail.html">
          <div class="label-hot-item"><span>Hot Item</span></div>
          <div class="box-thumb">
            <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="">
            <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
          </div>
          <div class="box-detail">
            <div class="price">$147.80</div>
            <div class="ratings">
              <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
              <div class="review-count">(4 reviews)</div>
            </div>
          </div>
        </a>

        <a class="inner-item" href="wheels-detail.html">
          <div class="label-hot-item"><span>Hot Item</span></div>
          <div class="box-thumb">
            <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="">
            <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
          </div>
          <div class="box-detail">
            <div class="price">$147.80</div>
            <div class="ratings">
              <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
              <div class="review-count">(4 reviews)</div>
            </div>
          </div>
        </a>

        <a class="inner-item" href="wheels-detail.html">
          <div class="label-hot-item"><span>Hot Item</span></div>
          <div class="box-thumb">
            <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="">
            <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
          </div>
          <div class="box-detail">
            <div class="price">$147.80</div>
            <div class="ratings">
              <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
              <div class="review-count">(4 reviews)</div>
            </div>
          </div>
        </a>

        <a class="inner-item" href="wheels-detail.html">
          <div class="label-hot-item"><span>Hot Item</span></div>
          <div class="box-thumb">
            <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="">
            <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
          </div>
          <div class="box-detail">
            <div class="price">$147.80</div>
            <div class="ratings">
              <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
              <div class="review-count">(4 reviews)</div>
            </div>
          </div>
        </a>

        <a class="inner-item" href="wheels-detail.html">
          <div class="label-hot-item"><span>Hot Item</span></div>
          <div class="box-thumb">
            <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="">
            <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
          </div>
          <div class="box-detail">
            <div class="price">$147.80</div>
            <div class="ratings">
              <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
              <div class="review-count">(4 reviews)</div>
            </div>
          </div>
        </a>

        <a class="inner-item" href="wheels-detail.html">
          <div class="label-hot-item"><span>Hot Item</span></div>
          <div class="box-thumb">
            <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="">
            <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
          </div>
          <div class="box-detail">
            <div class="price">$147.80</div>
            <div class="ratings">
              <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
              <div class="review-count">(4 reviews)</div>
            </div>
          </div>
        </a>

        <a class="inner-item" href="wheels-detail.html">
          <div class="label-hot-item"><span>Hot Item</span></div>
          <div class="box-thumb">
            <img class="img" src="../assets/images/demo_wheel_01.jpg" alt="">
            <div class="txt-title">Asanti ABL-14 POLARIS Series Wheels - Gloss black</div>
          </div>
          <div class="box-detail">
            <div class="price">$147.80</div>
            <div class="ratings">
              <div class="stars"><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star active"></span><span class="fas fa-star"></span></div>
              <div class="review-count">(4 reviews)</div>
            </div>
          </div>
        </a>

      </VueSlickCarousel>
    </div>
  </div>
  <!-- /.con-popular-item-->
</template>

<script>
import VueSlickCarousel from 'vue-slick-carousel'
import 'vue-slick-carousel/dist/vue-slick-carousel.css'
// import 'vue-slick-carousel/dist/vue-slick-carousel-theme.css'

export default {
  components: { VueSlickCarousel },

  data() {
    return {
      popularSliderSettings: {
        slidesToShow: 6,
        slidesToScroll: 6,
        speed: 600,
        autoplaySpeed: 6000,
        autoplay: false,
        infinite: true,
        swipe: true,
        fade: false,
        dots: false,
        arrows: true,
          responsive: [
            {
              breakpoint: 1440,
              settings: {
                slidesToShow: 4,
                slidesToScroll: 4
              }
            },
            {
              breakpoint: 992,
              settings: {
                slidesToShow: 3,
                slidesToScroll: 3
              }
            },
            {
              breakpoint: 576,
              settings: {
                slidesToShow: 2,
                slidesToScroll: 2
              }
            }
          ]
      }
    }
  }
}
</script>
