<template>
  <div class="main-list">
    <a-card class="mb-4">
      <template slot="title">
        <font-awesome-icon icon="user-friends" />
        {{ $t('user.list_user') }}
      </template>

      User List
    </a-card>
  </div>
</template>

<script>
export default {
  layout: 'admin',

  data() {
    return {}
  },

  computed: {},

  methods: {}
}
</script>
