<template>
	<div id="app">
		<div class="container">
			<div class="row">
				<div class="col-xs-8 col-xs-offset-2">
					<div class="panel panel-primary">
						<div class="panel-heading">
							<h3 class="panel-title">App</h3>
						</div>
						<div class="panel-body">
							<div>
								<div class="form-group">
									<label>Username</label>
									<input
										type="text"
										class="form-control"
										v-model="user.username"
									>
								</div>
								<div class="form-group">
									<label>Email</label>
									<input
										type="text"
										class="form-control"
										v-model="user.email"
									>
								</div>
								<button type="button" class="btn btn-primary" @click="submit">Submit</button>
								<hr>

								<button type="button" class="btn btn-success" @click="getAllUsers">Get All Data</button><br><br>
								<table class="table table-bordered table-hover" v-if="users.length">
									<thead>
										<tr>
											<th>Order</th>
											<th>Name</th>
											<th>Email</th>
										</tr>
									</thead>
									<tbody>
										<tr v-for="(user, i) in users" :key="i">
											<td>{{ i+1 }}</td>
											<td>{{ user.username }}</td>
											<td>{{ user.email }}</td>
										</tr>
									</tbody>
								</table>

							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

export default {
	name: 'app',
	data() {
		return {
			user: {
				username: '',
				email: ''
			},
			users: [],
			resource: {}
		}
	},
	methods: {
		submit() {
			// this.$http.post('', this.user)
			// 	.then(res => {
			// 		console.log(res);
			// 	}, error => {
			// 		console.log(error);
			// 	});
			this.resource.save({}, this.user);
		},
		getAllUsers() {
			// this.$http.get('')
			// 	.then(res => {
			// 		return res.json();
			// 	}).then(data => {
			// 		const newArr = [];
			// 		for (let key in data) {
			// 			newArr.push(data[key]);
			// 		}
			// 		this.users = newArr;
			// 		console.log(this.users);
			// 	}, error => {
			// 		console.log(error);
			// 	});
			this.resource.get().then(res => {
				// console.log(res.body);
				let data = res.body;
				const newArr = [];
				for (let key in data) {
					newArr.push(data[key]);
				}
				this.users = newArr;
				console.log(this.users);
		  });

		}
	},
	created() {
		this.resource = this.$resource('data.json');
	}
}
</script>

<style>
	#app {
		margin: 30px auto;
	}
</style>
