<template>
  <li class="j-sidebar-nav-item">
    <router-link
      :to="menu.path"
      :class="`j-sidebar-nav-link ${
        $route.fullPath === menu.path ? 'j-active' : ''
      }`"
    >
      <font-awesome-icon :icon="menu.icon" class="j-sidebar-nav-icon" />
      <div class="j-sidebar-nav-text">{{ menu.name }}</div>
    </router-link>
  </li>
</template>

<script>
export default {
  props: {
    /**
     * Menu
     */
    menu: {
      type: Object,
      default: () => {}
    }
  }
}
</script>
