<template>
  <li :class="`j-sidebar-nav-dropdown ${isShow ? 'j-show' : ''}`">
    <a class="j-sidebar-nav-dropdown-toggle" @click="onToggleShow">
      <font-awesome-icon :icon="menu.icon" class="j-sidebar-nav-icon" />
      {{ menu.name }}
    </a>

    <template v-if="Array.isArray(menu.children) && menu.children.length">
      <ul class="j-sidebar-nav-dropdown-items">
        <template v-for="child in menu.children">
          <j-nav-item :key="child.name" :menu="child" />
        </template>
      </ul>
    </template>
  </li>
</template>

<script>
import JNavItem from './JNavItem.vue'

export default {
  components: { JNavItem },

  props: {
    /**
     * Menu
     */
    menu: {
      type: Object,
      default: () => {}
    }
  },

  data() {
    return {
      isShow: false,
      isSetIsShowOnMounted: false
    }
  },

  created() {
    /**
     * Watching change of route, menu prop
     */
    this.$watch(
      () => ({
        path: this.$route.fullPath,
        menu: this.menu
      }),
      data => {
        if (
          this.isSetIsShowOnMounted ||
          !(Array.isArray(data.menu.children) && data.menu.children.length)
        ) {
          return
        }

        this.isShow = data.menu.children
          .map(item => item.path)
          .includes(this.$route.fullPath)
        this.isSetIsShowOnMounted = true
      },
      {
        immediate: true,
        deep: true
      }
    )
  },

  methods: {
    /**
     * On handle submit
     */
    onToggleShow() {
      this.isShow = !this.isShow
    }
  }
}
</script>
