<template>
	<div>
		<h1 class="text-center">404</h1>
		<hr>
		<p class="text-center">
			<button type="button" class="btn btn-primary" @click="$router.push({name: 'homepage'})">Back To Home</button>
		</p>
	</div>
</template>

<script>
export default {
	name: "Error404"
};
</script>
