<template>
	<div class="home">
		<div class="container">
			<h1>Home page</h1>
			<hr>
			<Counter />
			<hr>
			<Result />
			<hr>
			<Other />
		</div>
	</div>
</template>

<script>
import Counter from "@/components/Counter.vue";
import Other from "@/components/Other.vue";
import Result from "@/components/Result.vue";

export default {
	name: "home",
	components: {
		Counter,
		Result,
		Other
	}
};
</script>