<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Minigame VueJS</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/style.css">
</head>
<body>

	<div id="app" class="my_app">
		<div class="container">
			<div class="box_top mb_20">
				<div class="row">
					<div class="col-xs-6">
						<h2 class="text-center mb_20"><strong>YOU</strong></h2>
						<p class="box_img text-center mb_20"><img src="images/img_person_01.png" alt="img_person_01"></p>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" :style="{ width: playerHealth + '%' }">
								<span v-if="playerHealth">{{ playerHealth }}</span>
							</div>
						</div>
					</div>
					<div class="col-xs-6">
						<h2 class="text-center mb_20"><strong>MONSTER</strong></h2>
						<p class="box_img text-center mb_20"><img src="images/img_person_02.png" alt="img_person_02"></p>
						<div class="progress">
							<div class="progress-bar progress-bar-danger" :style="{ width: monsterHealth + '%' }">
								<span v-if="monsterHealth">{{ monsterHealth }}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<div class="panel panel-default" v-if="!gameIsRunning">
				<div class="panel-body text-center">
					<button type="button" class="btn btn-lg btn-info" @click="startNewGame()">START NEW GAME</button>
				</div>
			</div>
			<div class="panel panel-default" v-else="">
				<div class="panel-body text-center">
					<button type="button" class="btn btn-lg btn-danger" @click="attack()">ATTACK</button>
					<button type="button" class="btn btn-lg btn-warning" @click="specialAttack()">SPECIAL ATTACK</button>
					<button type="button" class="btn btn-lg btn-info" @click="heal()">HEAL</button>
					<button type="button" class="btn btn-lg btn-default" @click="giveUp()">GIVE UP</button>
				</div>
			</div>
			<div class="panel panel-default box_log" v-if="turns.length">
				<div class="panel-body">
					<ul>
						<li
							v-for="turn in turns"
							:class="{ 'player_turn': turn.isPlayer, 'monster_turn': !turn.isPlayer }"
						>
							{{ turn.textLog }}
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<script src="js/jquery-3.3.1.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/vue.min.js"></script>
	<script src="js/app.js"></script>

</body>
</html>