<template>
  <div class="main-detail">
    <a-card class="mb-4">
      <template slot="title">
        <font-awesome-icon icon="pencil-alt" />
        {{ $t('user.edit_user') }}
      </template>

      <user-form
        :id="id"
        @modify="goToList"
        @cancel="goToList"
      />
    </a-card>
  </div>
</template>

<style lang="scss" scoped>
.main-detail {
  /deep/ {
    .ant-card-body {
      padding: 0;
    }
  }
}
</style>

<script>
import UserForm from '~/components/organisms/users/UserForm'

export default {
  components: {
    UserForm
  },

  computed: {
    /**
     * Get user Id
     *
     * @return {Object} user Id
     */
    id() {
      return +this.$route.params.id
    },

    /**
     * Index path
     *
     * @return {Object} Index path
     */
    indexPath() {
      return {
        path: '../',
        append: true
      }
    }
  },

  methods: {
    /**
     * Go to list
     */
    goToList() {
      this.$router.push(this.indexPath)
    }
  }
}
</script>
