<template>
	<div class="row header">
		<div class="col-xs-12">
			<h3>Item Added</h3>
			<div class="progress">
				<div class="progress-bar progress-bar-success" :style="{ width: (itemCount/itemMax)*100 + '%' }">
					<span>{{ itemCount }} / {{ itemMax }}</span>
				</div>
			</div>
		</div>
	</div>
</template>

<script>

export default {
	name: 'Header',
	props: {
		itemCount: 0,
		itemMax: 0
	}
}
</script>

<style scoped>
</style>
