<template>
	<div class="col-xs-12 col-sm-6 col-md-3">
		<div class="card item">
			<div class="card-body">
				<slot></slot>
			</div>
		</div>
	</div>
</template>

<script>

export default {
	name: 'Items'
}
</script>

<style scoped>
	.card-body {
		font-size: 24px;
		color: #6e6e6e;
		border: 1px solid #ccc;
		padding: 5px 15px;
		margin-bottom: 30px;
	}
	.item {
		cursor: pointer;
	}
	.item:hover {
		background: #ffe2e2;
	}
</style>
