<template>
	<div class="row items_layout">
		<Items v-for="(item, index) in items" :key="index" @click.native="removeItem(index)">
			<span>{{ item }}</span>
		</Items>
	</div>
</template>

<script>
import Items from './Items.vue';

export default {
	name: 'ItemsLayout',
	props: {
		items: Array
	},
	components: {
		Items
	},
	methods: {
		removeItem(index) {
			this.$emit('itemRemoved', index);
		}
	}
}
</script>

<style scoped>
</style>
