<template>
	<div class="row new_item">
		<div class="col-xs-6 col-xs-offset-3">
			<form>
				<div class="form-group">
					<label>U can saying...</label>
					<!-- <textarea class="form-control" rows="3" v-model="item"></textarea> -->
					<input type="text" class="form-control" v-model="item">
					{{ item }}
				</div>
				<button type="submit" class="btn btn-success" @click.prevent="createNew()">Add</button>
			</form>
		</div>
	</div>
</template>

<script>
export default {
	name: 'NewItem',
	props: {
		items: Array
	},
	data() {
		return {
			item: ''
		}
	},
	methods: {
		createNew() {
			if (this.item.trim() == '') {
				return false;
			} else if (this.items.includes(this.item)) {
				this.item = '';
				return alert('This item is existed in card!');
			} else {
				this.$emit('itemAdded', this.item);
				this.item = '';
			}
		}
	}
}
</script>

<style scoped>
</style>
