<template>
	<div class="row">
		<div class="col-xs-6 col-xs-offset-3">
			<h2>Test Component</h2>
			<p>isSuccess: {{ isSuccess }}</p>
			<button @click="isSuccess = !isSuccess">Toggle</button>
			<p v-if="isSuccess" class="alert alert-success">SUCCESS</p>
			<p v-else class="alert alert-danger">FAIL</p>

			<hr>

			<ul class="list-group">
				<li class="list-group-item" v-for="(user, index) in users" :key="index">{{ user.name }}</li>
			</ul>

		</div>
	</div>
</template>

<script>
export default {
	name: 'Test',
	data() {
		return {
			isSuccess: false,
			users: [
				{
					id: 1,
					name: 'Nguyen Van A',
					age: 19
				},
				{
					id: 2,
					name: 'Nguyen Tran B',
					age: 27
				},
				{
					id: 3,
					name: 'Nguyen Chi C',
					age: 36
				}
			]
		}
	},
	methods: {
		onInput(e) {
			console.log(e);
		}
	}
}
</script>

<style scoped>
</style>
