<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<meta name="viewport" content="width=device-width,initial-scale=1.0">
		<title>lesson05</title>
		<link rel="icon" href="<%= BASE_URL %>favicon.ico">
		<link rel="stylesheet" href="<%= BASE_URL %>css/bootstrap.min.css">
		<link rel="stylesheet" href="<%= BASE_URL %>css/animate.min.css">
		<script src="<%= BASE_URL %>js/jquery-3.3.1.min.js"></script>
		<script src="<%= BASE_URL %>js/bootstrap.min.js"></script>
	</head>
	<body>
		<noscript>
			<strong>We're sorry but lesson05 doesn't work properly without JavaScript enabled. Please enable it to continue.</strong>
		</noscript>
		<div id="app"></div>
		<!-- built files will be auto injected -->
	</body>
</html>
