<template>
  <div class="about">
    <h1>This is an about page</h1>
  </div>
</template>

<script>
export default {
  name: 'about',
  created() {
  	console.log('created About');
  },
  activated() {
  	console.log('activated About');
  },
  deactivated() {
  	console.log('deactivated About');
  }
}
</script>