<template>
  <div class="contact">
    <h1>Contact</h1>
  </div>
</template>

<script>
export default {
  name: 'contact',
  created() {
  	console.log('created Contact');
  },
  activated() {
  	console.log('activated Contact');
  },
  deactivated() {
  	console.log('deactivated Contact');
  }
}
</script>
