<template>
  <a-layout class="l-admin">
    <!-- main sidebar -->
    <a-layout-sider
      v-model="isCollapsed"
      collapsible
      width="256"
      :collapsed-width="collapsedWidth"
    >
      <!-- logo -->
      <div class="logo">
        <nuxt-link to="/" class="over">
          <h1 style="font-size: 25px; color: #fff; margin: 0">LOGO</h1>
        </nuxt-link>
      </div>

      <!-- sidebar menu -->
      <a-menu theme="dark" mode="inline">
        <a-menu-item>
          <nuxt-link to="/" :class="`${$route.path === '/' ? 'on-home' : ''}`">
            <font-awesome-icon icon="tachometer-alt" class="anticon" />
            <span>Dashboard</span>
          </nuxt-link>
        </a-menu-item>

        <a-sub-menu>
          <span slot="title">
            <font-awesome-icon icon="cog" class="anticon" />
            <span>Multi level</span>
          </span>

          <a-menu-item>
            <nuxt-link to="/login">
              <font-awesome-icon icon="sign-in-alt" class="anticon" />
              <span>Login</span>
            </nuxt-link>
          </a-menu-item>

          <a-menu-item>
            <nuxt-link to="/forgot">
              <font-awesome-icon icon="lock" class="anticon" />
              <span>Forgot</span>
            </nuxt-link>
          </a-menu-item>
        </a-sub-menu>

        <a-menu-item-group>
          <template slot="title">
            <span>Module</span>
          </template>

          <a-menu-item key="13">
            <nuxt-link to="/categories">
              <font-awesome-icon icon="th-list" class="anticon" />
              <span>Categories</span>
            </nuxt-link>
          </a-menu-item>
        </a-menu-item-group>

        <a-menu-item-group>
          <template slot="title">
            <span>System</span>
          </template>

          <a-menu-item key="21">
            <nuxt-link to="/users">
              <font-awesome-icon icon="user-friends" class="anticon" />
              <span>Users</span>
            </nuxt-link>
          </a-menu-item>
        </a-menu-item-group>
      </a-menu>
    </a-layout-sider>

    <a-layout>
      <!-- main header -->
      <Header
        :is-collapsed="isCollapsed"
        @trigger="isCollapsed = !isCollapsed"
      />

      <a-layout-content class="pt-4">
        <transition name="fade">
          <div class="container-fluid">
            <!-- breadcrumb -->
            <!-- <a-breadcrumb class="mb-3">
              <a-breadcrumb-item v-for="(item, index) in crumbs" :key="index">
                <nuxt-link :to="item.to">
                  {{ item.text }}
                </nuxt-link>
              </a-breadcrumb-item>
            </a-breadcrumb> -->

            <!-- main content -->
            <Nuxt />
          </div>
        </transition>
      </a-layout-content>

      <!-- main footer -->
      <Footer />
    </a-layout>
  </a-layout>
</template>

<style lang="scss" scoped>
@import '~/assets/scss/_variables.scss';
@import '~/assets/scss/_mixins.scss';

.l-admin {
  min-height: 100vh;
}
.ant-layout-sider-zero-width-trigger {
  display: none;
}
.ant-layout-sider {
  .logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 64px;
    background: #002140;
    text-align: center;
    padding: 6px 10px;
    a {
      text-decoration: none;
    }
    img {
      max-height: 45px;
    }
  }
  &.ant-layout-sider-collapsed {
    .ant-menu-item-group-title {
      display: none;
    }
    .ant-menu {
      .ant-menu-item {
        > a {
          display: block;
          padding-left: 32px !important;
          padding-right: 32px !important;
        }
      }
      .ant-menu-item {
        padding-left: 0 !important;
        padding-right: 0 !important;
      }
    }
  }
  .ant-menu {
    .ant-menu-item-selected {
      background: transparent !important;
    }
    .ant-menu-item {
      padding-left: 0 !important;
      padding-right: 0 !important;
      > a {
        display: block;
        padding-left: 24px;
        padding-right: 16px;
        &.active-link,
        &:hover {
          background: $primary-color;
        }
        &[href='/']:not(:hover) {
          background: $primary-color;
          &:not(.on-home) {
            background: transparent;
          }
        }
      }
    }
    .ant-menu-submenu {
      .ant-menu {
        .ant-menu-item {
          > a {
            padding-left: 48px;
          }
        }
      }
    }
  }
}
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>

<script>
import Footer from '~/components/Footer'
import Header from '~/components/Header'

const COLLAPSED_WIDTH = 80

export default {
  components: {
    Footer,
    Header
  },

  // middleware: ['auth'],

  data() {
    return {
      isCollapsed: false,
      collapsedWidth: COLLAPSED_WIDTH
    }
  },

  computed: {},

  watch: {},

  mounted() {},

  methods: {}
}
</script>
