<template>
  <div class="j-app">
    <Sidebar />

    <div class="j-wrapper">
      <transition name="fade">
        <Nuxt />
      </transition>
    </div>
  </div>
</template>

<style lang="scss" scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.3s;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}
</style>

<script>
import Sidebar from '~/components/Sidebar'
// import Header from '~/components/Header'

// import Layout from '~/mixins/layout'

// const COLLAPSED_WIDTH = 80

export default {
  components: {
    Sidebar
    // Header
  },

  mixins: [
    // Layout
  ],

  // middleware: ['auth'],

  data() {
    return {
      // isCollapsed: false,
      // collapsedWidth: COLLAPSED_WIDTH
    }
  },

  computed: {},

  watch: {},

  mounted() {},

  methods: {}
}
</script>
