/* -----------------------------------------------------------
  Common
----------------------------------------------------------- */
img {
  max-width: 100%;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
a,
button,
.btn {
  transition: all 0.4s ease;
}
.container {
  @include mq(xxl) {
    max-width: $xxl - 30px;
  }
  @include mq(xxxl) {
    max-width: $xxxl - 30px;
  }
}
.over {
  transition: all 0.4s ease;
  &:hover {
    opacity: 0.7;
  }
}
.text-line-through {
  text-decoration: line-through !important;
}


/* -----------------------------------------------------------
  layout
----------------------------------------------------------- */
.main-body {
  overflow: hidden;
  padding: 50px 0 70px;
  @include mq(max_sm) {
    padding: 30px 0 40px;
  }
}
.row {
  &.gutters-xs {
    margin-left: -5px;
    margin-right: -5px;
    > * {
      padding-left: 5px;
      padding-right: 5px;
    }
  }
  &.gutters-sm {
    margin-left: -10px;
    margin-right: -10px;
    > * {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/* -----------------------------------------------------------
  button
----------------------------------------------------------- */
// .btn.btn-white {
//   background: #fff;
//   &:hover {
//     background: darken(#fff, 15%);
//   }
//   &:focus,
//   &.focus {
//     box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.25);
//   }
// }
// .btn.btn-black {
//   color: #fff;
//   background: #000;
//   &:hover {
//     background: lighten(#000, 15%);
//   }
//   &:focus,
//   &.focus {
//     box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
//   }
// }
// .btn.btn-outline-gray {
//   color: #707070;
//   background: #fff;
//   border: 2px solid #707070;
//   &:hover {
//     color: #000;
//     border-color: #000;
//   }
//   &:focus,
//   &.focus {
//     box-shadow: 0 0 0 0.2rem rgba(0, 0, 0, 0.25);
//   }
//   .ic {
//     margin-right: 8px;
//   }
// }

/* -----------------------------------------------------------
  form
----------------------------------------------------------- */
.custom-checkbox {
  min-height: 26px;
  padding-left: 34px;
  .custom-control-input {
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 2;
  }
  .custom-control-label {
    &:before {
      top: 0;
      left: -2.1rem;
      width: 26px;
      height: 26px;
      border: 1px solid #E2E2E2;
      border-radius: 0;
    }
    &:after {
      top: 0;
      left: -2.1rem;
      width: 26px;
      height: 26px;
    }
  }
}
.custom-radio {
  min-height: 1rem;
  .custom-control-input {
    position: absolute;
    left: 0;
    top: 0.2rem;
    right: auto;
    bottom: auto;
    width: 1rem;
    height: 1rem;
    cursor: pointer;
    z-index: 2;
  }
  .custom-control-label {
    &:before {
      top: 0.2rem;
      left: -1.5rem;
      width: 1rem;
      height: 1rem;
      // border: 1px solid #E2E2E2;
    }
    &:after {
      top: 0.2rem;
      left: -1.5rem;
      width: 1rem;
      height: 1rem;
    }
  }
}

/* -----------------------------------------------------------
  .slider-common
----------------------------------------------------------- */
.slider-common {
  .slick-arrow {
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%);
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 0 none;
    box-shadow: none;
    cursor: pointer;
    outline: 0;
    text-indent: -9999px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    z-index: 10;
    @include mq(max_lg) {
      width: 40px;
      height: 40px;
    }
    @include mq(max_md) {
      width: 32px;
      height: 32px;
    }
    @include mq(max_sm) {
      width: 20px;
      height: 28px;
    }
    @include mq(max_xs) {
      width: 3.3vw;
      height: 4vw;
    }
    &:active {
      opacity: 0.8;
    }
  }
  .slick-prev {
    left: 30px;
    right: auto;
    @include mq(max_md) {
      left: 20px;
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      bottom: 50%;
      transform-origin: left bottom;
      transform: skew(-46deg);
      width: 18px;
      height: 150%;
      background: #fff;
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 0;
      top: 50%;
      transform-origin: left top;
      transform: skew(46deg);
      width: 18px;
      height: 150%;
      background: #fff;
    }
  }
  .slick-next {
    right: 30px;
    left: auto;
    @include mq(max_md) {
      right: 20px;
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      right: 0;
      bottom: 50%;
      transform-origin: right bottom;
      transform: skew(46deg);
      width: 18px;
      height: 25px;
      background: #fff;
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      right: 0;
      top: 50%;
      transform-origin: right top;
      transform: skew(-46deg);
      width: 18px;
      height: 25px;
      background: #fff;
    }
  }
  .slick-prev,
  .slick-next {
    &:before,
    &:after {
      @include mq(max_lg) {
        width: 14px;
        height: 20px;
      }
      @include mq(max_md) {
        width: 11px;
        height: 16px;
      }
      @include mq(max_sm) {
        width: 8px;
        height: 11px;
      }
      @include mq(max_xs) {
        width: 1.2vw;
        height: 2vw;
      }
    }
  }
  .slick-dots {
    position: absolute;
    left: 0;
    bottom: 20px;
    right: auto;
    top: auto;
    width: 100%;
    text-align: center;
    line-height: 0;
    li {
      display: inline-block;
      vertical-align: middle;
      line-height: 0;
      padding: 0;
      margin: 0 5px;
      button {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        text-indent: -9999px;
        color: transparent;
        background: #fff;
        border: 0;
        border-radius: 50%;
        box-shadow: none;
        outline: 0;
        cursor: pointer;
        padding: 0;
        margin: 0;
      }
    }
    li.slick-active {
      button {
        background: $primary;
      }
    }
  }
}

// /* -----------------------------------------------------------
//   .breadcrumb-style
// ----------------------------------------------------------- */
// .breadcrumb-style {
//   margin-bottom: 20px;
//   @include mq(max_sm) {
//     display: none;
//   }
//   .breadcrumb {
//     background: transparent;
//     padding: 0;
//     margin-bottom: 0;
//   }
//   .breadcrumb-item {
//     text-transform: uppercase;
//     font-weight: bold;
//     &.active,
//     a:hover {
//       color: $primary;
//     }
//     &,
//     a {
//       color: #676767;
//       text-decoration: none;
//     }
//   }
//   .breadcrumb-item + .breadcrumb-item::before {
//     content: ">";
//     position: relative;
//     top: 0.05em;
//     font-size: 1.5em;
//     line-height: 0.7;
//   }
// }

// /* -----------------------------------------------------------
//   .pagination-style
// ----------------------------------------------------------- */
// .pagination-style {
//   margin-top: 20px;
//   .pagination {
//     flex-wrap: wrap;
//     justify-content: flex-end;
//     .page-item {
//       text-align: center;
//       margin: 0 3px;
//       margin-bottom: 6px;
//       .page-link:hover,
//       &.active .page-link {
//         color: #fff;
//         background: $primary;
//       }
//       &.prev .page-link .ic {
//         padding-right: 5px;
//         @include mq(max_xs) {
//           padding: 0;
//         }
//       }
//       &.next .page-link .ic {
//         padding-left: 5px;
//         @include mq(max_xs) {
//           padding: 0;
//         }
//       }
//       .page-link {
//         min-width: 33px;
//         color: #676767;
//         background: #E0E0E0;
//         border: 0;
//         border-radius: 0;
//         white-space: nowrap;
//         .txt {
//           @include mq(max_xs) {
//             display: none;
//           }
//         }
//       }
//     }
//   }
// }

// /* -----------------------------------------------------------
//   table
//   ----------------------------------------------------------- */
// .table {
//   tr {
//     th {
//       color: #676767;
//       background: #f0f0f0;
//       padding: 6px 10px;
//     }
//     td {
//       padding: 5px 10px;
//     }
//   }
// }

/* -----------------------------------------------------------
  magnific popup
----------------------------------------------------------- */
.mfp-fade {
  &.mfp-bg {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  &.mfp-bg.mfp-ready {
    opacity: 0.8;
  }
  &.mfp-bg.mfp-removing {
    opacity: 0;
  }
  &.mfp-wrap .mfp-content {
    opacity: 0;
    transition: all 0.3s ease-out;
  }
  &.mfp-wrap.mfp-ready .mfp-content {
    opacity: 1;
  }
  &.mfp-wrap.mfp-removing .mfp-content {
    opacity: 0;
  }
}

