/* -----------------------------------------------------------
  .hooper-slider-common
----------------------------------------------------------- */
.hooper-slider-common {
  &,
  .hooper {
    height: auto;
    outline: 0;
  }
  .hooper-prev,
  .hooper-next  {
    position: absolute;
    top: 50%;
    bottom: auto;
    transform: translate(0, -50%);
    width: 50px;
    height: 50px;
    color: #fff;
    background-color: transparent;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    border: 0 none;
    box-shadow: none;
    cursor: pointer;
    outline: 0;
    text-indent: -9999px;
    overflow: hidden;
    padding: 0;
    margin: 0;
    z-index: 10;
    @include mq(max_lg) {
      width: 40px;
      height: 40px;
    }
    @include mq(max_md) {
      width: 32px;
      height: 32px;
    }
    @include mq(max_sm) {
      width: 20px;
      height: 28px;
    }
    @include mq(max_xs) {
      width: 3.3vw;
      height: 4vw;
    }
    &:active {
      opacity: 0.8;
    }
  }
  .hooper-prev {
    left: 30px;
    right: auto;
    @include mq(max_md) {
      left: 20px;
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      left: 36%;
      bottom: 50%;
      transform-origin: left bottom;
      transform: translate(-50%, 0) skew(-46deg);
      width: 18px;
      height: 150%;
      background: #fff;
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      left: 36%;
      top: 50%;
      transform-origin: left top;
      transform: translate(-50%, 0) skew(46deg);
      width: 18px;
      height: 150%;
      background: #fff;
    }
  }
  .hooper-next {
    right: 30px;
    left: auto;
    @include mq(max_md) {
      right: 20px;
    }
    &:before {
      display: block;
      content: '';
      position: absolute;
      right: 36%;
      bottom: 50%;
      transform-origin: right bottom;
      transform: translate(50%, 0) skew(46deg);
      width: 18px;
      height: 25px;
      background: #fff;
    }
    &:after {
      display: block;
      content: '';
      position: absolute;
      right: 36%;
      top: 50%;
      transform-origin: right top;
      transform: translate(50%, 0) skew(-46deg);
      width: 18px;
      height: 25px;
      background: #fff;
    }
  }
  .hooper-prev,
  .hooper-next {
    &:before,
    &:after {
      @include mq(max_lg) {
        width: 14px;
        height: 20px;
      }
      @include mq(max_md) {
        width: 11px;
        height: 16px;
      }
      @include mq(max_sm) {
        width: 8px;
        height: 11px;
      }
      @include mq(max_xs) {
        width: 1.2vw;
        height: 2vw;
      }
    }
  }
  .hooper-pagination {
    display: block;
    position: absolute;
    left: 0;
    bottom: 20px;
    right: auto;
    top: auto;
    transform: none;
    width: 100%;
    text-align: center;
    line-height: 0;
    padding: 0;
    margin: 0;
    .hooper-indicators {
      display: block;
    }
    li {
      display: inline-block;
      vertical-align: middle;
      line-height: 0;
      padding: 0;
      margin: 0 5px;
      .hooper-indicator {
        display: inline-block;
        vertical-align: middle;
        width: 10px;
        height: 10px;
        text-indent: -9999px;
        color: transparent;
        background: #fff;
        border: 0;
        border-radius: 50%;
        box-shadow: none;
        outline: 0;
        cursor: pointer;
        padding: 0;
        margin: 0;
        &.is-active {
          background: $primary;
        }
      }
    }
  }
}
