/* -----------------------------------------------------------
  .con-popular-item-2
----------------------------------------------------------- */
.con-popular-item-2 {
  .txt-title-top {
    font-weight: bold;
    font-size: 24px;
    color: #676767;
    margin-bottom: 20px;
    @include mq(max_sm) {
      font-size: 20px;
      margin-bottom: 5px;
    }
  }
  .slick-arrow {
    width: 58px;
    height: 58px;
    background: #fff;
    border: 1px solid #eaeaea;
    box-shadow: 0 0 6px 1px rgba(0, 0, 0, 0.10);
    @include mq(max_xl) {
      width: 40px;
      height: 40px;
    }
    @include mq(max_xs) {
      top: 35%;
    }
    &:hover {
      background-color: darken(#fff, 5%);
    }
    &:before,
    &:after {
      height: 14px;
      width: 11px;
      background: #0c0c0c;
      @include mq(max_xl) {
        height: 10px;
        width: 9px;
      }
    }
  }
  .slick-prev {
    left: 0;
    @include mq(max_md) {
      left: -8px;
    }
    @include mq(max_xs) {
      left: 12px;
    }
    &:before,
    &:after {
      left: 12px;
      @include mq(max_xl) {
        left: 8px;
      }
    }
  }
  .slick-next {
    right: 0;
    @include mq(max_md) {
      right: -8px;
    }
    @include mq(max_xs) {
      right: 12px;
    }
    &:before,
    &:after {
      right: 12px;
      @include mq(max_xl) {
        right: 8px;
      }
    }
  }
  .box-slider {
    position: relative;
    margin: 0 -20px;
    @include mq(max_xl) {
      margin: 0 -25px;
    }
    &:before,
    &:after {
      display: block;
      content: '';
      position: absolute;
      top: 0;
      width: 10px;
      height: 100%;
      background: #fff;
      z-index: 9;
      @include mq(max_xl) {
        width: 15px;
      }
    }
    &:before {
      left: 0;
    }
    &:after {
      right: 0;
    }
    a {
      text-decoration: none;
    }
    .slick-list {
      padding: 10px 20px;
      @include mq(max_xl) {
        padding: 10px 25px;
      }
    }
    .slide-item {
      border-left: 1px solid #efefef;
      border-right: 1px solid #efefef;
      border-top: 1px solid transparent;
      border-bottom: 1px solid transparent;
      outline: 0;
      transition: none;
      margin-right: -1px;
      a {
        outline: 0;
      }
      &.slick-active {
        border-top-color: #efefef;
        border-bottom-color: #efefef;
        .label-hot-item,
        .label-best-seller {
          opacity: 1;
        }
        &:hover {
          .inner-item {
            box-shadow: 0 0 8px 1px rgba(0, 0, 0, 0.3);
          }
          .txt-title {
            color: $primary;
          }
          .price {
            color: $primary;
          }
        }
      }
    }
    .inner-item {
      display: flex;
      flex-direction: column;
      position: relative;
      overflow: hidden;
      height: 100%;
      transition: all 0.4s ease;
      padding: 15px;
      @include mq(max_md) {
        padding: 10px;
      }
    }
    .label-hot-item {
      opacity: 0;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 110px;
      height: 110px;
      transform: translate(50%, -50%) rotate(45deg);
      transform-origin: center center;
      text-align: center;
      font-weight: bold;
      color: #fff;
      background: #eb1c25;
      text-transform: uppercase;
      transition: all 0.4s ease;
      transition-delay: 0.8s;
      @include mq(max_md) {
        width: 90px;
        height: 90px;
        font-size: 12px;
      }
      span {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        padding: 3px 0;
      }
    }
    .label-best-seller {
      opacity: 0;
      display: block;
      position: absolute;
      right: 0;
      top: 0;
      width: 140px;
      height: 140px;
      transform: translate(50%, -50%) rotate(45deg);
      transform-origin: center center;
      text-align: center;
      font-weight: bold;
      color: #fff;
      text-transform: uppercase;
      transition: all 0.4s ease;
      transition-delay: 0.8s;
      padding-top: 5em;
      @include mq(max_md) {
        width: 110px;
        height: 110px;
        font-size: 12px;
      }
      span {
        display: block;
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        background: #eb8125;
        padding: 3px 0;
      }
    }
    .box-thumb {
      flex: 1 1 auto;
      text-align: center;
      .img {
        width: 100%;
        margin-bottom: 10px;
      }
    }
    .txt-title {
      color: #303030;
      text-align: left;
      transition: all 0.4s ease;
      margin-bottom: 15px;
    }
    .price {
      font-weight: bold;
      font-size: 18px;
      line-height: 1.2;
      color: #707070;
      transition: all 0.4s ease;
      @include mq(max_sm) {
        font-size: 16px;
      }
    }
    .ratings {
      > * {
        display: inline-block;
        vertical-align: middle;
      }
      .stars {
        span {
          display: inline-block;
          vertical-align: middle;
          color: #D1D1D1;
          margin-right: 2px;
          &:last-child {
            margin-right: 0;
          }
          &.active {
            color: #FFCE00;
          }
        }
      }
      .review-count {
        font-size: 14px;
        color: #777;
        padding-left: 10px;
      }
    }
  }
}
