// ----------------- Bootstrap variables override
// Font
$font-family-sans-serif: 'Manrope', sans-serif !default;
$font-size-base: 14 !default;
$body-color: #212529 !default;

// Color system
$primary: #EB1C25 !default;



// ----------------- Custom variables
// Breakpoint
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1440px;
$xxxl: 1700px;

// Font
$font-abe: 'Abel', sans-serif;
$font-int: 'Integral CF';

// Height
$height-form-control: 48px;
$height-header-top: 125px;
$height-header-nav: 135px;

// Border
$border-color-form-control: #D0D0D0;

// Z-index
$z-index-add-to-cart: 1000;
$z-index-fixed-steps: 1010;
$z-index-loading: 9000;
