.main-footer {
  border-top: 1px solid #d8dbe0;
  padding: 13px 0;
  @include mq(max_xs) {
    text-align: center;
  }
  .col-right {
    text-align: right;
    @include mq(max_xs) {
      text-align: center;
    }
  }
}
