.ant-layout-header {
  display: flex;
  justify-content: space-between;
  line-height: 1.5;
  background: #fff;
  padding: 0;
  .box-left {
    display: flex;
    align-items: center;
  }
  .btn-trigger {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
    padding: 0 24px;
    cursor: pointer;
    color: #4c4c4c;
    transition: all 0.4s ease;
    &:hover {
      color: $primary-color;
    }
  }
  .box-right {
    display: flex;
    align-items: center;
    > * {
      margin-left: 10px;
    }
    .ant-dropdown-link {
      display: inline-block;
      vertical-align: middle;
      padding: 5px;
      color: #4c4c4c;
      &:hover {
        color: $primary-color;
      }
    }
    .ic-large {
      font-size: 25px;
    }
  }
}
.ant-dropdown.dropdown-language {
  min-width: 50px;
  .ant-dropdown-menu {
    border: 1px solid #d8dbe0;
  }
  .ant-dropdown-menu-item {
    text-align: center;
  }
}
.ant-dropdown.dropdown-account {
  min-width: 160px;
  .ant-dropdown-menu {
    border: 1px solid #d8dbe0;
    padding-top: 0;
  }
  .txt-name {
    background: #ebedef;
    text-align: center;
    cursor: default;
    pointer-events: none;
  }
}
