.mb_15 {
	margin-bottom: 15px !important;
}
.mb_20 {
	margin-bottom: 20px !important;
}
.box_img img {
	max-width: 70%;
}
.my_app .progress {
	width: 80%;
	height: 40px;
	margin: auto;
}
.my_app .progress-bar {
	font-size: 20px;
	line-height: 40px;
}
.my_app .box_log ul {
	list-style: none;
	padding: 0;
	margin: 0;
}
.my_app .box_log ul li {
	font-weight: bold;
	text-align: center;
	text-transform: uppercase;
	padding: 3px 10px;
	margin: 1px 0;
}
.my_app .box_log ul li.player_turn {
	color: #4f4fff;
	background: #e6eaff;
}
.my_app .box_log ul li.monster_turn {
	color: red;
	background: #ffeaea;
}
